.poster-1{
  height: 526px;
  width: 340px;
  max-height:526px;
  max-width: 340px;
}

.poster-2{
max-height: 445px;
max-width: 342px;
}

.image-style{
  height: 526px;
  width: 340px;
  max-height:526px;
  max-width: 340px;
}

.video{

}
